[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
scipy = "*"
matplotlib = "*"
seaborn = "*"
numpy = "*"
sklearn = "*"
rarfile = "*"
pandas = "*"

[requires]
python_version = "3.6"
